/* Kachel-Grunddesign */
.pw-workspace-card {
  position: relative;
  flex: 0 0 auto;
  width: 100%;
  margin: 0 auto;
  aspect-ratio: 4.2 / 3;
  display: flex;
  flex-direction: column;
  background: #ececec;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* Textbereich (Overlay mit Blur) */
.pw-workspace-card__info {
  padding: 9px 18px;
  position: absolute;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.7);
  z-index: 1;
  overflow: hidden;
}

.pw-workspace-card__info h2 {
  padding-right: 20px;
  font-size: 2.5rem;
  color: #343434;
  margin: 0;
  display: -webkit-box;
  display: box;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}